# General
*/.vscode/*

# Dataset
chbmit-eeg/
chbmit-eeg-processed/
chbmit-eeg-processed-v*/
chbmit-eeg-processed.*

training-data/
training-data-v1/

# Python Software Model
__pycache__/

*.txt
*.png
*.csv
*.zip

test.py

# Hardware Model
verilog/Tutorial Files/
verilog/synopsys_dc.setup
test.v