# General
*/.vscode/*
launch.json
settings.json
*.txt
*.text
*.png
*.csv
*.zip


# Dataset
chbmit-eeg/
chbmit-eeg-processed/
chbmit-eeg-processed-v*/
chbmit-eeg-processed.*

training-data/
training-data-v1/

# Python Software Model
__pycache__/
memory_*.npy
*_sv.text

test.py

# Hardware Model
verilog_hf/
verilog_old*/
verilog/test/
verilog*/Tutorial Files/
verilog*/screenshots/
verilog*/outdated
verilog*/synopsys_dc.setup
test.sv
tb_test.sv
*.tcl
*_wrapper.sv